@import 'section-2';
@import 'mixins';
.block-info {   
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0px;
    min-width: 0;     
    @media(max-width: 1050px) {
        top: 300px;
    }    
    @media(max-width: 550px) {
        top: 150px;
    }
    .title {           
        display: flex;         
        color: #fff;           
        min-width: 0;   
        padding: 0 5px;  
        @media(max-width: 1300px) {
            flex-direction: column; 
            align-items:flex-start;               
        }   
        >div:first-of-type {
           max-width: 60%;
           min-width: 0;
            @media(max-width: 1600px){
                max-width: 100%;
            }     
            @media(max-width: 1250px) {
                max-width: 100%;                 
                }                   
                h1 {                 
                font-size: 7rem;     
                line-height: 0.8;  
                min-width: 0;                  
                overflow-wrap: break-word;               
                font-size: 7rem;
                min-width: none;
                 @media(max-width: 1830px) {
                    max-width: 100%;
                    font-size: 6rem;
                 }                
            @media(max-width: 1300px) {
                max-width: 80%;
            }   
            @media(max-width: 900px) {
                max-width: 100%;
            }              
            @media(max-width: 500px) {
                font-size: 3rem;
            }                        
          }     
        }
        >div:last-of-type {               
            align-self: flex-end; 
            min-width: 0;
                @media(max-width: 1300px) {
            align-self: flex-start;                             
                }              
                h3 {     
                text-transform: uppercase;      
                font-size: 1.4rem;
                line-height: 1.0; 
                max-width: 60%;            
                min-width: 0;                
                overflow-wrap: break-word; 
                @media(max-width: 1830px) {
                    max-width: 70%;
                   
                 }  
                @media(max-width: 1600px){
                max-width: 90%;
                line-height: 1.0;
                }     
                @media(max-width: 1300px) {
                max-width: 70%;    
                font-size: 1.5rem;                         
                }        
                @media(max-width: 650px) {
                max-width: 80%; 
                font-size: 1.1rem;                            
                }                                               
            }  
        }
    }
}  

           
                              
                      
        
        

    