/*Головна картинка*/
@import 'mixins';

/*Продовжую блок*/


.blocks {   
    z-index: 1;    
    display: flex;        
    color: #fff;
    overflow-wrap: break-word;  
    padding: 0 10px;  
    @media(max-width: 1850px) {
        flex-direction: column;
        align-items:flex-start;
    }
    @media(max-width: 990px){       
        overflow: hidden;
        width: 100%;
    }
    .block-grey {   
        z-index: 2000;      
        display: flex;                        
        font-size: 0.8rem;  
         @media (max-width: 1040px) {
            margin-bottom: 10px;
         }                
        .group {                             
            &:nth-child(2) {                
                display: none;                
                @media (max-width: 790px) {
                    display: flex;
                }
            }
        }
        @media (max-width: 990px) {                  
        width: max-content;
        flex-wrap: nowrap;                 
        }    
    }
}


.block-icons {
    @include display;     
    gap: 10px;   
    >div:first-of-type {
        @include display;
        gap: 5px;
        >span {          
            padding: 15px 5px;
            background: #fff;
            font-size: 0.7rem;
            font-weight: 800;
            color: #252424;
            border-radius: 5px;            
        }
    }
    >div:nth-child(2) {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        font-weight: 600;        
    }
    >div:last-of-type {
         @include display;
         gap: 5px;
         >i:first-of-type {
             @include display;
            padding: 10px 25px;
            border-radius: 5px;
            background: #fff;
            color: #252424;            
         }
         .raiting {
            display: flex;
            flex-direction: column;  
            i {
               font-size: 0.5rem;
               color: #f5f825
            }          
        }
    }
}
.block-grey { 
    
        .wrapper-group {        
            display: flex;              
            width: max-content;
            @media(max-width: 790px){
                 animation: slider 8s linear infinite; 
            }
                            
            .group {            
                display: flex;                       
                flex-shrink: 0;
                width: 760px;
                gap: 10px;
                }
            }     
               
            span {
            display: flex;
            align-items: center;            
            border-radius: 10px;
            width: 180px;
            height: 70px;
            padding: 10px;
            background: linear-gradient(46deg,rgba(65, 87, 69, 1) 0%, rgba(9, 28, 4, 1) 84%);
            font-size: 1rem;            
            @media(max-width: 1100px){
                padding: 10px 5px;
            }
            i {
                @include display;
                padding: 10px 20px;
                border: 1px dashed #fff;
                border-radius: 10px; 
                margin-right: 10px;               
            }
        }
    }
    @keyframes slider {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-760px );
    }
}

