@mixin container {
   width: calc(60% - 40px);  
   max-width: 1400px;   
   margin: 0 auto;  
   @media(max-width: 1650px) {
   width: calc(75% - 40px);
   }
   @media(max-width: 960px) {
    width: calc(95% - 40px);
   }
  
}
@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}



