@mixin container {
   width: calc(60% - 40px);  
   max-width: 1400px;   
   margin: 0 auto;  
   @media(max-width: 1650px) {
   width: calc(75% - 40px);
   }
   @media(max-width: 990px) {
      width: calc(100% - 0px);
   }  
}
@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin arows {
   width: 70px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer 
}
@mixin btn {
   width: 40px;
   height: 40px;
   border-radius: 10px;
   border: 1px dashed #7a7171;
   display: flex;
   align-items: center;
   justify-content: center;
}



