video {
    width: auto;
    flex: 1;
    cursor: pointer;
    
    
}
.video-container {
    position: relative;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;  
    
}

.video-container video {
    width: 100%;
    display: block;
    position: relative;
    border-radius: 10px;   
   
}

.controls {    
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.controls button {
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    padding: 8px 12px;
    border-radius: 5px;
}
#progress {
    flex: 1;
    cursor: pointer;
}
#counts {
    color: #fff;
    font-weight: 900;
    font-size: 18px;
}
.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.panel-comments {
    input {
    width: auto;
    max-width: 30%;
    height: auto;
    min-height: 50px;
    border-radius: 7px;
    padding: 10px;
}
textarea {   
    max-width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 7px;
    padding: 10px;
}

}

.panel-comments p {
    font-size: 200x;
}

.panel-comments {
     word-break: break-word;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    height: auto;
    background: #b9a69b;
    padding: 15px;
}
.panel-comments #comment-text {
    width: auto;
    height: auto;
    min-height: 100px;
    resize: none;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    
    
}
.panel-comments #comment-text:focus {
    box-shadow: 1px 1px 29px 10px rgba(226, 125, 84, 0.75);
}

.panel-comments  button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #4d2610;   
    cursor: pointer;
    color: #fff;
}
.panel-comments  button:hover {
    background: #774121; ;
}
.comments-save {
    width: auto;
    min-height: 250px;
    height: auto;
    background:#b9a69b;
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
}
.comments-save > div {   
    width: auto;
    height: auto;  
    min-height: 140px; 
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    margin-top: 10px;
    word-break: break-word;
    box-sizing: border-box;
    p {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 10px;
    }    
    button {
        padding: 5px 10px;
        border-radius: 8px;
        float: right;
        margin-top: 10px;
        background:hsla(22, 32%, 45%, 0.478);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        
    }
}
.comments-save > div > div {    
    cursor: pointer;
    font-size: 20px;
     
}
