@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import 'mixins';
@import 'header';
@import 'menu-open';
@import 'section-1';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    min-height: 100vh;
}
.wrapper {
    min-height: 100vh;
}
